services:
  database:
    image: mysql:8
    container_name: adj-database
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: adj-demo
    ports:
      - "3307:3306"
    volumes:
      - adj-volume:/var/lib/mysql
    networks:
      - adj-net
    restart: unless-stopped
  
  frontend:
    image: client:latest
    build: 
      context: ./client
      args:
        API_HOST: localhost
        API_PORT: 8081
        API_BASE: /adj-api
    container_name: adj-client
    ports:
      - "3000:443"
    networks:
      - adj-net
    volumes:
      - certbot-conf:/etc/letsencrypt:ro
    restart: unless-stopped
    depends_on:
      - database
  
  backend:
    image: server:latest
    build: 
      context: ./server
    container_name: adj-server
    environment:
      SERVER_PORT: 8080
      DB_HOST: database
      DB_PORT: 3306
      DB_NAME: adj-demo
      DB_USER: root
      DB_PASS: root
      SERVER_SSL_ENABLED: true
      SERVER_SSL_KEYSTORE_PATH: /etc/letsencrypt/live/localhost/keystore.p12
      SERVER_SSL_KEYSTORE_PASS: changeit
    ports:
      - "8081:8080"
    networks:
      - adj-net
    volumes:
      - certbot-conf:/etc/letsencrypt:ro
    depends_on:
      - frontend

volumes:
  adj-volume:
    external: true
  certbot-conf:
    external: true


networks:
  adj-net:
    external: true
